@model IEnumerable<WebApplication13.Models.SanPham>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Admin/assets/images/favicon.png">
    <title>Cửa Hàng</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/extra-libs/multicheck/multicheck.css">
    <link href="~/Admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Admin/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <hr class="border-cyan" />
                    <h5 class="card-title; text-center" style="font-size:30px; color:red    ">Danh Sách Sản Phẩm</h5>
                    <hr class="border-cyan" />
                    @ViewBag.message
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead style="background-color:lightcyan;font-size:18px " class="text-center">
                                <tr>
                                    <th>Mã Sản Phẩm</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Nhà Cung Cấp</th>
                                    <th>Loại Sản Phẩm</th>
                                    <th>Số Lượng</th>
                                    <th>Chức Năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SanPhamId)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenSP)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.NhaCungCapId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LoaiSP.TenLoai)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoLuong)
                                        </td>


                                        <td>
                                            <a class="btn btn-outline-danger" alt="alert" id="model-error-icon" href="@Url.Action("ThemGioHang","BanHang2", new { @gSanPhamId = item.SanPhamId, @strURL= Request.Url.ToString()})">Chọn Sản Phẩm</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <hr class="border-cyan" />
                    <a class="btn btn-outline-danger float-left btn-lg" href="@Url.Action("Index","User")"> Về Trang Chủ</a>

                    <a class="btn btn-outline-danger float-right btn-lg" href="@Url.Action("MuaHang","BanHang2")"> Tiếp Tục</a>

                </div>
            </div>
        </div>
    </div>

    <script src="~/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Admin/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/Admin/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Admin/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Admin/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="~/Admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="~/Admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="~/Admin/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

</body>

</html>
