@using WebApplication13.Areas.Client.Models
@model List<Client_GioHang>
@{
    ViewBag.Title = "Client_GioHang";
    Layout = "~/Areas/Client/Views/Layout/_LayoutClient.cshtml";
}
@using (Html.BeginForm("Client_GioHang", "Client_GioHang", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="main main-raised">
        <div class="container">
            <div class="card card-plain">
                <div class="card-body">
                    <h3 class="card-title">Giỏ Hàng</h3>
                    <br>
                    <div class="material-datatables">
                        <div class="table-responsive">
                            <table id="zero_config1" class="table table-striped row-border">
                                <thead style="font-size:25px; height:30px" class="text-center">
                                    <tr>
                                        <th></th>
                                        <th>Sản Phẩm</th>
                                        <th>Color</th>
                                        <th>Size</th>
                                        <th>Đơn Giá</th>
                                        <th>Số Lượng</th>
                                        <th>Thành tiền</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr style="font-size:18px ; text-align:center; font-weight:bold">
                                            <td>
                                                <div class="img-container">
                                                    <img src="@item.cURL_Image1" alt="..." style="width:150px;height:100px">
                                                </div>
                                            </td>
                                            <td style="font-size:20px">
                                                <a href="@Url.Action("CTSanPham", "Client_SanPham", new { Id = item.cSanPhamId })">@item.cTenSP</a>
                                            </td>
                                            <td>
                                                Red
                                            </td>
                                            <td>
                                                M
                                            </td>
                                            @using (Html.BeginForm("", "", new { @csanphamid = item.cSanPhamId }))
                                            {
                                                <td class="col-sm-1">
                                                    <input class="form-control" type="number" min="1" name="txtSoLuong" value="@item.cSoLuong" style="text-align:center; width:50px ; margin-left:20px" />
                                                </td>
                                                <td>
                                                    @string.Format("{0:0,0}", item.cDonGia) VNĐ
                                                </td>

                                                <td>
                                                    @string.Format("{0:0,0}", item.cThanhTien) VNĐ
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("CapNhatClient_GioHang", "Client_GioHang", new { @cSanPhamId = item.cSanPhamId })" type="submit" rel="tooltip" data-placement="left" title="" class="btn btn-link" data-original-title="Cap Nhat">
                                                        <i class="material-icons">autorenew</i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("XoaClient_GioHang", "Client_GioHang", new { @cSanPhamId = item.cSanPhamId })" type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link" data-original-title="Remove item">
                                                        <i class="material-icons">close</i>
                                                    </a>
                                                </td>
                                            }

                                        </tr>
                                    }

                            </table>
                        </div>

                    </div>
                    <hr />
                    <div>
                        <h3 class="card-title">Chọn hình thức thanh toán</h3>
                        <span class="btn btn-info" id="to-frm1"> Giao hàng COD </span>
                        <span class="btn btn-info" id="to-frm2"> Thanh Toán Trực Tuyến </span>
                        <span class="btn btn-info" id="to-frm3"> Nhận Tại Cửa Hàng </span>
                    </div>
                    <hr />
                    <div id="frm1" style="display:none">
                        <h3 class="card-title">Xác Nhận Thông Tin</h3>
                        <div style="margin-left:25%; margin-right:25%">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>Tên Khách Hàng</label>
                                        <input id="TenKH" name="TenKH" style="height: 20px; width: 200px; overflow: auto;" class="form-control" />
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Số Điện Thoại Nhận Hàng</label>
                                        <input id="Sdt" name="Sdt" style="height: 20px; width: 200px; overflow: auto;" class="form-control" />
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Địa Chỉ Giao Hàng</label>
                                        <input id="Diachi" name="DiaChi" style="height: 20px; width: 200px; overflow: auto;" class="form-control" />
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email </label>
                                        <input id="Email" name="Email" style="height: 20px; width: 200px; overflow: auto;" class="form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row float-right">
                            <div>
                                <a class="btn btn-info btn-lg pull-right" href="@Url.Action("DS", "BanHang2")">Trở Lại</a>
                                <input type="submit" value="Xác Nhận" class="btn btn-outline-primary btn-lg pull-right ml-3 mr-5" />
                            </div>
                        </div>
                    </div>

                    <div id="frm2" style="display:none">
                        <h2>success</h2>
                    </div>
                    @if (Model.Count == 1)
                    {
                        <div id="frm3" style="display:none">
                            <h3 class="card-title">Xác Nhận Thông Tin</h3>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tên Khách Hàng</label>
                                                <input id="TenKH" name="TenKH" style="height: 20px; width: 200px; overflow: auto;" class="form-control" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Số Điện Thoại Nhận Hàng</label>
                                                <input id="Sdt" name="Sdt" style="height: 20px; width: 200px; overflow: auto;" class="form-control" />
                                            </div>
                                        </div>

                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Địa Chỉ Giao Hàng</label>
                                                <input id="Diachi" name="DiaChi" style="height: 20px; width: 200px; overflow: auto;" class="form-control" />
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Email </label>
                                                <input id="Email" name="Email" style="height: 20px; width: 200px; overflow: auto;" class="form-control" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-4">

                                    @Html.Action("Check_Con_Hang_partial", "Client_Partial", new { @MaSP = ViewBag.CheckMaSP })

                                </div>
                            </div>

                            <hr />
                            <div class="row float-right">
                                <div>
                                    <a class="btn btn-info btn-lg pull-right" href="@Url.Action("DS", "BanHang2")">Trở Lại</a>
                                    <input type="submit" value="Xác Nhận" class="btn btn-outline-primary btn-lg pull-right ml-3 mr-5" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}

<style>
    input[type='number'] {
        -moz-appearance: textfield;
    }
</style>
<script src="~/Admin/assets/libs/jquery/dist/jquery.min.js"></script>

<!-- this page js -->
<script src="~/Admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="~/Admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="~/Admin/assets/extra-libs/DataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#zero_config1').DataTable({
            "paging": false,
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#to-frm1").click(function () {
            $("#frm1").slideToggle(50);
            $("#frm2").slideUp(50);
            $("#frm3").slideUp(50);
        });
        $("#to-frm2").click(function () {
            $("#frm1").slideUp(50);
            $("#frm2").slideToggle(50);
            $("#frm3").slideUp(50);
        });
        $("#to-frm3").click(function () {
            $("#frm1").slideUp(50);
            $("#frm2").slideUp(50);
            $("#frm3").slideToggle(50);
        });
    })
</script>
