@model WebApplication13.Models.LoaiSP

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layout/_LayoutAdminNew.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-info">
                            <div class="card-icon">
                                <div style="font-size:35px" class="font-weight-bolder">
                                    <i class="material-icons">add_circle_outline</i>
                                    Loại Sản Phẩm
                                </div>
                                <div class="ripple-container"></div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="card-body">
                                <div style="font-size:18px" class="col-md-10 ml-auto mr-5">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.LoaiSPId)

                                    <div class="row mt-1">
                                        <label class="col-sm-2 col-form-label">Tên Loại :</label>
                                        <div class="col-sm-7">
                                            <div class="form-group bmd-form-group">
                                                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <label class="col-sm-2 col-form-label">Chú Thích :</label>
                                        <div class="col-sm-7">
                                            <div class="form-group bmd-form-group">
                                                <input class="form-control" type="text" name="MoTa" minlength="5" required="true" aria-required="true">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-4">
                                        <div class="col-md-offset-2 col-md-10 mt-5 mb-5">
                                            <a class="btn btn-outline-danger btn-lg float-left" href="@Url.Action("Index","LoaiSPs")"> Trở Về</a>
                                            <input type="submit" value="Lưu Thay Đổi" class="btn btn-outline-danger btn-lg float-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
