@model WebApplication13.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Layout/_LayoutDangNhapAdmin.cshtml";
}


@using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("provider", @Model.Provider)
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <div class="" style="color:wheat">
        <h4 style="font-size:25px">Nhập Mã Xác Thực</h4>
        <hr class="border-cyan"/>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Mã", new { @class = "col-md-5 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberBrowser)
                    @Html.LabelFor(m => m.RememberBrowser)
                </div>
            </div>
        </div>
        <hr class="border-cyan"/>
                <input type="submit" class="btn btn-outline-orange float-right" value="Xác Nhận" />
            
    </div>
 }
