@using WebApplication13.Models
@model List<GioHang>
@{
    ViewBag.Title = "Index";
    Layout = "";
}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <link href="~/Content/address_files/bootstrap.css" rel="stylesheet">
    <link href="~/Content/address_files/style.css" rel="stylesheet">
    <link href="~/Content/address_files/default.css" id="theme" rel="stylesheet">
    <link href="~/Content/floating-label.css" rel="stylesheet">
    <link href="~/Content/table_files/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/libs/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/libs/quill/dist/quill.snow.css">
    <link href="~/Admin/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/extra-libs/multicheck/multicheck.css">
    <link href="~/Admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Admin/dist/css/style.min.css" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.wrappixel.com/ampleadmin/assets/images/favicon.png">
    <title>Cửa Hàng</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="~/Content/BanHang/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    @using (Html.BeginForm())
    {
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader" style="display: none;">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Table -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div style="width:100%;">
                            <div class="table-responsive ">
                                <hr class="border-cyan" />
                                <h5 class="card-title; text-center" style="font-size:30px; color:red"> Xác Nhận Thanh Toán</h5>
                                <hr class="border-cyan" />
                                <table class="table color-bordered-table red-bordered-table ">
                                    <thead style="color:red;text-align:center" class="mt-1">
                                        <tr>
                                            <th style="width:50px"></th>
                                            <th style="width:250px">Tên Sản Phẩm</th>
                                            <th style="width:250px">Đơn Giá</th>
                                            <th style="width:250px">Số Lượng</th>
                                            <th style="width:250px">Chiết Khấu</th>
                                            <th style="width:250px">Tổng Tiền</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr style="text-align:center">
                                                <td></td>
                                                <td>
                                                    @item.gTenSP
                                                </td>

                                                <td>
                                                    @String.Format("{0:0,0}", item.gDonGia)
                                                </td>
                                                <td>
                                                    @String.Format("{0:0,0}", item.gSoLuong)
                                                </td>
                                                <td>
                                                    @String.Format("{0:0,0}", item.gGiamGia)
                                                </td>
                                                <td>
                                                    @String.Format("{0:0,0}", item.gThanhTien)
                                                </td>

                                            </tr>
                                        }

                                        <tr style="font-weight:bold;color:brown;">
                                            <td colspan="5" class="font-500" align="right">
                                                Tổng Tiền:
                                                @String.Format("{0:0,0}", ViewBag.TongTien)
                                                ( @String.Format("{0:0,0}", ViewBag.TongSoLuong) Sản Phẩm )
                                            </td>
                                            @*<td class="font-500">@String.Format("{0:0,0}", ViewBag.TongTien)</td>
                                                <td colspan="1" class="font-500"> ( @String.Format("{0:0,0}", ViewBag.TongSoLuong) Sản Phẩm )</td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card">
                                <div>
                                    <hr class="border-cyan" />
                                    <div class="card">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                                </div>
                                                <input type="text" name="inputtext" class="form-control" placeholder=" Nhập Số Điện Thoại" id="txtCustomer" aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <div class="form-group has-success">
                                                    <label>Tên Khách Hàng</label>
                                                    <div id="TenKH" style="height: 20px; width: 200px; overflow: auto;" class="form-control"></div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group has-success">
                                                    <label>Số Điện Thoại</label>
                                                    <div id="Sdt" style="height: 20px; width: 200px; overflow: auto;" class="form-control"></div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group has-success">
                                                    <label>Địa Chỉ</label>
                                                    <div id="log1" style="height: 20px; width: 200px; overflow: auto;" class="form-control"></div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group has-success">
                                                    <label>Mã Khách Hàng</label>
                                                    @*<input id="KHId" name="KhachHangId" style="height: 20px; width: 200px; overflow: auto;" class="form-control">*@

                                                    <div id="KHId" name="KhachHangId" style="height: 20px; width: 200px; overflow: auto;" class="form-control"></div>
                                                </div>
                                            </div>

                                            <div>
                                                <a class="btn btn-info btn-lg pull-right" href="@Url.Action("DS", "BanHang2")">Trở Lại</a>
                                                <input type="submit" value="Xác Nhận Thanh Toán" class="btn btn-outline-primary btn-lg pull-right ml-3 mr-5" />
                                            </div>
                                            <!--/span-->
                                        </div>

                                        <hr />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <script src="~/Content/BanHang/jquery.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/BanHang/popper.js"></script>
    <script src="~/Content/BanHang/bootstrap.js"></script>
    <!-- apps -->
    <script src="~/Content/BanHang/app.js"></script>
    <script src="~/Content/BanHang/app_002.js"></script>
    <script src="~/Content/BanHang/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/BanHang/perfect-scrollbar.js"></script>
    <script src="~/Content/BanHang/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/BanHang/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/BanHang/sidebarmenu.js"></script>
    <!--Mask-->
    <script src="~/Scripts/mask.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/BanHang/custom.js"></script>
    <script src="~/Admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Admin/dist/js/pages/mask/mask.init.js"></script>
    <script src="~/Admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Admin/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/Admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
    <script src="~/Admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="~/Admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="~/Admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="~/Admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Admin/assets/libs/quill/dist/quill.min.js"></script>
    <script src="~/Scripts/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Admin/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="~/Admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="~/Admin/assets/extra-libs/DataTables/datatables.min.js"></script>

    <!-- AUTOCOMPLETE -->
    <!-- ================================================================================== -->
    <!-- ================================================================================== -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
            $(function () {
                $("#txtCustomer").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '/TimKiem/AutoComplete/',
                            data: "{ 'prefix': '" + request.term + "'}",
                            dataType: "json",
                            type: "POST",

                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return item;
                                }))
                            },
                        });
                    },
                    select: function (event, ui) {
                        TenKH(ui.item.TenKH)
                        log(ui.item.TenKH);
                        log1(ui.item.DC);
                        Sdt(ui.item.Sdt);
                        KHId(ui.item.KHId);
                    },
                    minLength: 1
                });
                function log(message) {
                    $("<div>").text(message).prependTo("#log");
                    $("#log").scrollTop(0);
                }

                function log1(message) {
                    $("<div>").text(message).prependTo("#log1");
                    $("#log1").scrollTop(0);
                }

                function Sdt(message) {
                    $("<div>").text(message).prependTo("#Sdt");
                    $("#sdt").scrollTop(0);
                }
                function KHId(message) {
                    $("<div>").text(message).prependTo("#KHId");
                    $("#KHId").scrollTop(0);
                }
                function TenKH(message) {
                    $("<div>").text(message).prependTo("#TenKH");
                    $("#TenKH").scrollTop(0);
                }
            });
    </script>

</body>
</html>
